@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Merhaba, @User.Identity.Name!</p>
    }
    else
    {
        <p>Hoşgeldiniz!</p>
    }
    <a href="@Url.Action("Index", "Book")" class="btn btn-primary mt-3">Kitap Listesi</a>
</div>